{% extends 'layout.html.twig' %}
{% block content %}
    {% if arbitro.id %}
        <h1>Modificar árbitro {{ arbitro.nombre }} {{ arbitro.apellidos }}</h1>
    {% else %}
        <h1>Alta de nuevo árbitro</h1>
    {% endif %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Guardar</button>
    <a href="{{ path('arbitro_listar') }}" class="btn btn-info"><i class="fa fa-arrow-left"></i> Volver al listado sin guardar</a>
    {{ form_end(form) }}
{% endblock %}