{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Listado de árbitros</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('arbitro_crear') }}" class="btn btn-success"><i class="fa fa-plus"></i> Nuevo árbitro</a>
    {% endif %}
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Nº colegiado</th>
            <th></th>
        </tr>
        {% for arbitro in arbitros %}
            <tr>
                <td>{{ arbitro.nombre }}</td>
                <td>{{ arbitro.apellidos }}</td>
                <td>{{ arbitro.numColegiado }}</td>
                <td>
                    {% if is_granted('ARBITRO_MODIFICAR', arbitro) %}
                        <a href="{{ path('arbitro_modificar', {'id': arbitro.id}) }}"><i class="fa fa-pencil"></i></a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('arbitro_eliminar', {'id': arbitro.id}) }}"><i class="fa fa-trash"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}